

<footer>
    <table class="table mt-3">
        <tbody>
        <tr class="table-active text-center">
            <td scope="col">Colonne 1</td>
            <td scope="col">Colonne 2</td>
            <td scope="col">Colonne 3</td>
        </tr>
        <tr class="text-center">
            <td><a href="#" class="btn btn-link">Link</a></td>
            <td><a href="#" class="btn btn-link">Link</a></td>
            <td><a href="#" class="btn btn-link">Link</a></td>
        </tr>
        <tr class="text-center">
            <td><a href="#" class="btn btn-link">Link</a></td>
            <td><a href="#" class="btn btn-link">Link</a></td>
            <td><a href="#" class="btn btn-link">Link</a></td>
        </tr>
        <tr class="text-center">
            <td><a href="#" class="btn btn-link">Link</a></td>
            <td><a href="#" class="btn btn-link">Link</a></td>
            <td><a href="#" class="btn btn-link">Link</a></td>
        </tr>
        </tbody>
    </table>
</footer>