    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/app_dev.php/">{{ data.company_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/app_dev.php/"><img src="https://i.pinimg.com/originals/6a/d6/06/6ad6066370b243834fc1b72c19c7387a.png" height="30px" alt=""><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('addProduct') }}">Produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>